<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startsida</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <header>
        <nav>
            <div id="float">
                <a href="/">Startsida</a>
                <a href="/add">Ny kurs</a>
                <a href="/about">Om</a>
            </div>
        </nav>
    </header>

    <main>
        <h1>Kurser</h1>

        <% courses.forEach((course)=> { %>
            <ul>
                <li>
                    <b>ID:</b>
                    <%= course.id %>
                        <br>
                        <b>Kurskod:</b>
                        <%= course.coursecode %>
                            <br>
                            <b>Kursnamn:</b>
                            <%= course.coursename %>
                                <br>
                                <b>URL:</b> <a href="<%= course.courseurl %>">
                                    Länk till kurssidan
                                </a>
                                <br>
                                <b>Progression:</b>
                                <%= course.courseprogression %>
                                    <br><br>
                </li>
                <a class="deleteBtn" href="/delete/<%= course.id %>">Radera kurs</a>
            </ul>
            <% }); %>
    </main>

    <footer>
        <p>Laborationsuppgift för kursen DT207G, Backend-baserad webbutveckling <br> &copy; Copyright Emma
            Larsson,
            2024
        </p>
    </footer>

</body>

</html>