<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startsida</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

<nav>
    <ul>
        <li><a href="/">Startsida</a></li>
        <li><a href="/add">Ny kurs</a></li>
        <li><a href="/about">Om</a></li>
    </ul>
</nav>

    <h1>Kurser</h1>

    <h2>Sparade kurser</h2>

    <% courses.forEach((course)=> { %>
    <ul>
            <li>
                ID: <%= course.id %>
                <br>
                Kurskod: <%= course.coursecode %>
                <br>
                Kursnamn: <%= course.coursename %>
                <br>
                URL: <a href="<%= course.courseurl %>"><%= course.courseurl %></a>
                <br>
                Progression: <%= course.courseprogression %>
                <br><br>
            </li>
            <a href="/delete/<%= course.id %>">Radera kurs</a>
    </ul>
    <% }); %>

</body>

</html>